body{
    margin: 0%;
    font-family: Arial; /*Fonte padrão do site*/
    font-size: 12px; /*tamanho de fonte padrão para todo o site*/
}

.topo{
    height: 30px;
    background-color: #333333;
    color:#ffffff;
}

.topoint{
    width: 100%; /*tamanho para responsividade - se adapta a tela*/
    max-width: 1040px;/*a largura máxima*/
    height: 30px;
    margin: auto; /*centraliza a div*/
    /*background-color: brown;*/
}

.topoleft{
    width: 50%;
    height: 30px;
    float:left;/*se alinha à esquerda*/
    /*background-color: green;*/
}


.topoleft ul{
    margin: 0px;
    padding: 0px;
    list-style: none; /*Remove qualquer estilo da lista, no caso as bolinhas*/
}

.topoleft li{
    height: 30px;
    line-height: 30px;/*centraliza o texto no espaço de 30 px de altura - Expecifica a autura da linha*/
    float: left;/*Alinha os itens da lista um a esquerda do outro*/
    margin-left: 8px;
    margin-right: 8px;
}

.topoleft li a{
    text-decoration: none;/*Tira o sublinhado do link*/
    color: #ffffff;
}

.topoleft li .ativo{ /*Se o link estiver ativo*/
    color: blue;
}

.toporight{
    width: 50%;
    height: 28px;
    margin-top: 2px;
    float:right;/*se alinha à direita*/
    /*background-color: blue;*/
    
    
}

.topobusca{
    width: 130px;
    height: 20px;
    outline: 0; /*tira a borda azul de quando o campo está selecionado*/
    
}

.toporight a{
    float: right;
}

.toporight input{
    float: right;
}

.toporight img{
    margin-right: 4px;
}
.toporight .lupa{
    margin-left: 4px;
}

.topo2{
    height: 95px;
    /*background-color:#999;*/
}

.topo2int{
    width: 100%; /*tamanho para responsividade - se adapta a tela*/
    max-width: 1040px;/*a largura máxima*/
    height: 95px;
    margin: auto; /*centraliza a div*/
    
}
.logo{
    width: 230px;
    height: 95px;
    float: left;
    margin-top: 12px;
    
}
.topo2 .banner{
    width: 650px;
    height: 80px;
    float: right;   
    margin-top: 13px;
    margin-bottom: 15px;
    background-color: red;
}

.navbar{
    
    height: 40px;
    background-color: red;   
}
.menu{
    width: 100%;
    max-width: 1040px;
    height: 40px;
    
    margin:auto;
}

.menu ul{
    margin: o;
    padding: 0;
    list-style: none;
}

.menu li{
    float:left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    
}

.menu li:hover .submenu{ /*Quando o mouse estiver em cima do link(li:hover) ele entra na propriedadeod sub menu*/
    display:block;
}
.menu a{
    color: white;
    text-decoration: none; /*Tira o sublinhado e qualquer estilo do texto*/
}

.submenu{
    
    background-color:#b71c1c;
    position: absolute;
    display: none; /*Não aparece na tela*/
}

/*
.navbar li:hover{
    background-color:#b71c1c;
}
*/
.submenuitem{
    width: 150px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;   
}
.submenuitem:hover{
    background-color:red;
}

.ultimasnoticias{
    height: 40px;
    
}

.ultimasnoticiasint{
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
    
}

.ultnoticiasarea{
    height: 28px;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 10px;
    
}
.ultinoticiastitulo{
    background-color: red;
    color: white;
    height: 28px;
    display: inline-block;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.ultinoticiasnoticia{
    color: black;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 5px;

}

.containerint{
    width: 100%;
    max-width: 1040px;
    margin:auto;
    
}
.leftside{
    width: 753px;
    float: left;
    min-height: 200px;
    background-color:#ccc;
}
.rightside{
    width: 275px;
    min-height: 200px;
    float: right;
    margin-left: 12px;
    
}
.widget{
    border: 1px solid #ccc;
    margin-bottom: 10px;

}
.widgettitulo{
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    background-color:#eee;
}

.widgetconteudo{
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
}
.noticiaitem{
    margin: 0px 10px;/*Top and Bottom | Left and Right*/
    padding: 10px 0px;/*Top and Bottom | Left and Right*/
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
.noticiaitem a{
    color: black;
    text-decoration: none;
}

.noticiaitem a:hover{
    color:#494949;
    text-decoration: none;

}